[2017-02-28 23:27] pieper opened #5 "Add a debug mode option"
To make it easier to debug and to file issues, add a gui option to run in verbose debugging mode.

[2017-03-01 15:29] fedorov opened #6 "Update the module to work with Segments, not LabelNodes"

[2017-03-02 16:20] JoostJM commented on #5
@pieper, you mentioned that slicer had something similar in the way of storing a debug log for error/issue reporting. Is there a specific way Slicer goes about this? Otherwise I could add a simple option which uses the logging already present in PyRadiomics, supplemented with some logging in the slicer extension.

[2017-03-02 16:28] pieper commented on #5
Hi Joost -

In Slicer we use the python logging package and then have a Help->Report a
Bug menu that brings up this dialog.

So I was thinking that since pyradiomics uses the same package it would be
easy to expose the log level options to the GUI and easily capture the
results.

-Steve

[image: Inline image 1]

On Thu, Mar 2, 2017 at 11:20 AM, Joost van Griethuysen <
notifications@github.com> wro

[2017-03-02 16:37] JoostJM commented on #5
@pieper Sounds great! I'll look into it.

[2017-03-02 16:55] fedorov commented on #5
I would vote for saving pyradiomics log into a separate file as initially suggested (or do this in addition to logging to the Slicer log). The way Slicer logging works, it exposes logging that comes from different sources, and the result is log messages that are NOT ordered by time. It can be extremely misleading and difficult to browse those messages.

[2017-03-02 17:06] pieper commented on #5
@fedorov the point is not to replace the pyradiomics logging, but to
provide the gui tools for SlicerRadiomics.  It's a good idea to have a
separate log just for the pyradiomics use and even have a gui option in the
module to enable it.

On Thu, Mar 2, 2017 at 11:55 AM, Andrey Fedorov <notifications@github.com>
wrote:

[2017-03-02 17:44] fedorov commented on #5
We are all on the same page then!

[2017-03-02 20:58] fedorov commented on #5
@JoostJM since you self-assigned this issue, can you let me know if you plan to just add the log mode to pyradiomics, or you want to implement everything including UI elements to expose this in SlicerRadiomics?

[2017-03-02 21:04] JoostJM commented on #5
@fedorov, the main reason I assigned it to myself is to update the logging of pyradiomics and add some log messages in slicerradiomics. If you want to implement the UI elements to expose this functionality, I'd greatly appreciate your input.

[2017-03-08 12:28] JoostJM commented on #5
I added a simple checkbox in the UI to enable debug logging. If enabled, it now stores the log in the user's root folder. This location is also displayed in the tooltip over this textbox.

[2017-03-13 12:26] JoostJM commented on #5
Resolved by #8

[2017-03-13 12:26] #5 closed

[2017-03-13 12:27] JoostJM opened #10 "Packaging the extension"
@fedorov, can you describe the current  issues with the packaging of the extension here?
@jcfr, do you have an idea how long it might take to fix this issue?

[2017-03-13 12:48] fedorov commented on #10
When SlicerRadiomics is built, python install is properly invoked for all of the packages, but the packages are installed into the Slicer build tree, NOT the extension build tree. As a result, when the extension is packaged from the content of the extension build tree, all of the installed python packages are missing. As I understand from @jcfr, he identified a solution based on passing a flag to

[2017-03-13 12:51] fedorov commented on #10
@jcfr does it make sense to add SlicerRadiomics extension anyway, so that whenever the core issues are resolved, we can quickly test the extension functionality?

[2017-04-20 13:57] fedorov opened #12 "Add an option to show segmentation in 3d viewer"

[2017-04-20 13:58] fedorov commented on #12
Seems like this is the issue that was raised in https://github.com/Radiomics/pyradiomics/issues/243

[2017-04-20 21:28] fedorov commented on #10
xref #13

[2017-04-26 14:18] fedorov commented on #10
Should be resolved by #13

[2017-04-26 14:27] fedorov opened #14 "Add documentation"
As discussed, we will at least initially have documentation page in md as part of the main repository.

[2017-04-26 14:27] fedorov commented on #6
resolved by #7

[2017-04-26 14:27] #6 closed

[2017-04-29 20:15] fedorov opened #16 "Slicer Linux dashboard issues"
<s>Build on Win fails, but as discussed that is expected.</s>. See #20

Linux: cmake issues http://slicer.cdash.org/viewBuildError.php?buildid=1014261

![image](https://cloud.githubusercontent.com/assets/313942/25558538/ea01321c-2cf6-11e7-8fc4-e25ca82ed550.png)

@jcfr ?

[2017-05-03 14:11] fedorov commented on #10
@jcfr testing with today's nightly, SlicerRadiomics python dependencies are installed:

[code]

but `import radiomics` fails.

[2017-05-03 14:13] fedorov commented on #10
Error:
[code]

[2017-05-03 14:25] jcfr opened #18 "Update Slicer core to ensure PYTHONPATH for thirdparty is appended on MacOSX"

[2017-05-03 14:26] fedorov commented on #10
Superseded by #18

[2017-05-03 14:26] #10 closed

[2017-05-17 14:13] jcfr commented on #18
That didn't fall of the radar, I have been working on the associated building block. Namely creating a `CTKAppLauncherLib` to directly parse and use PATH, LIBRARY_PATH and other settings directly and avoid duplicated implementation in both SlicerApplication and launcher.

[2017-05-25 05:08] jcfr commented on #18
Following [r26042](http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=26042), installing the extension on MacOSX is expected to work.

[2017-05-25 05:12] jcfr opened #20 "Fix windows build"
Compiler environment needs to be set to ensure compilation from python package built from source succeeds and is done with a compiler matching the one user for the extension.

[2017-05-26 11:47] pieper opened #21 "Add progress reporting and cancel option"
When the segmentation is large computation can take a long time and the application hangs with no feedback to the user.

Even as [we optimize the implementation in #256](https://github.com/Radiomics/pyradiomics/issues/256) there will always be situations that require progress reporting.

This may be challenging with the current design, because all computation is done in the main thread without pro

[2017-05-29 21:17] #18 closed

[2017-05-29 21:18] jcfr commented on #20
This should be fixed by #22

[2017-05-30 02:56] fedorov commented on #21
Makes sense, I agree.

[2017-05-30 15:32] jcfr commented on #20
Dashboard confirms  the package can be generated.
See http://slicer.cdash.org/index.php?project=Slicer4&date=2017-05-30&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=Radiomics

[2017-05-30 15:32] #20 closed

[2017-05-30 15:33] jcfr commented on #16
The Linux issue persist. See http://slicer.cdash.org/viewBuildError.php?buildid=1033658

I wasn't able to reproduce it locally .. I will debug on the factory later this week

[2017-06-14 14:08] JoostJM opened #23 "Windows installation for Slicer Radiomics not working"
When installing SlicerRadiomics from extension manager, installation works, however, the module cannot be loaded due to an error with the pyYAML library. When you comment out `import pykwalify` in `featureextractor.py` (in the installed site-packages), module loads fine and works without issue (pykwalify not needed in slicer extension)

[2017-06-19 12:29] pieper commented on #23
See user discussion here: https://discourse.slicer.org/t/qunatitative-features-with-eeterogeneitycad/518/8

[2017-07-15 14:24] pieper commented on #23
@JoostJM was this issue fixed by [d0a77c](https://github.com/Radiomics/SlicerRadiomics/commit/d0a77cdef62b5345d36dc3a56370dd9574ba9bc8)?

[2017-07-17 07:40] JoostJM commented on #23
@pieper, d0a77c presents a temporary workaround. Additionally, that fix won't take effect until the extension is rebuilt and repackaged.

[2017-07-17 12:15] fedorov commented on #23
Joost, the extension is rebuilt and packaged automatically on each source code update.

[2017-07-17 13:59] pieper commented on #23
I just tested the current nightly build on windows (2017-07-16) and confirmed that the Radiomics extension is working as expected.  So the workaround is in place but the underlying issue remains.

[2017-07-19 15:00] JoostJM opened #25 "Extend user interface for customization"
Currently, customization of the extraction is very limited in SlicerRadiomics. Moreover, Yaml parsing using PyYaml doesn't work currently on windows (see #23), which means SlicerRadiomics cannot use the parameterfile.

This issue is created to make a list of GUI elements that should be made to expose the most important customization features of PyRadiomics.

Current suggestions:
- Resampling
- Ima

[2017-08-01 16:05] fedorov commented on #25
Also need to add wavelets, see [this post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/pyradiomics/dsNolPItBBM) from a confused user ...

[2017-08-01 23:07] pieper opened #27 "Add traceback to every except clause"
Currently errors are caught but no diagnostic info is printed.  Perhaps conditionally on the logging level we should include code like the following.

[code]

[2017-08-08 20:39] #27 closed

[2017-08-12 00:09] gregsharp opened #28 "ImportError: No module named radiomics"
I tried to download and build from source on linux.  It doesn't load, with the following error.  Any idea?  Is it because linux-related issue on the main page?

[code]

[2017-08-12 03:15] fedorov commented on #28
@gregsharp long time no see!

I assume you built using the superbuild approach - can you confirm? Did pyradiomics build as well? Were there any errors?

It is not clear what is the linux-related issue we are experiencing, it might be specific to the dashboard. I can try build/install on linux on Monday when I am back in the office. I am not sure I tried that.

[2017-08-16 16:33] fedorov commented on #28
@gregsharp I tried on linux, and I see what you mean. I can't figure out myself how to set up the extra directories so that it can find the dependency python packages! I think it is supposed to somehow configure the launcher with the extra paths, but I don't know how it works.

@jcfr here is what I tried (to be as close to the dashboard process as possible):

1. Build SlicerRadiomics and then `mak

[2017-08-16 16:34] fedorov commented on #16
Different issue now: http://slicer.cdash.org/viewBuildError.php?buildid=1080469

[2017-09-06 14:59] jcfr commented on #28
In a nutshell, it would be difficult to have a systematic way of inferring the python path based only on the scripted module path.

Manually setting the `PYTHONPATH` allows to address the reported problem. for example:

[code]

[2017-09-06 15:00] fedorov commented on #28
Thank you! I will update the user guide

[2017-09-06 16:34] jcfr commented on #28
Update:

@fedorov The following is a general solution for any extension:

[code]

[2017-09-06 17:44] jcfr commented on #28
The referenced topic should do it

[2017-09-06 20:16] jcfr commented on #16
The linux error occurs because on the factory, the script `/usr/bin/lsb_release` (used by `pip`) is written in python and despite of having `#!/usr/bin/python` at the top, the python library and environment that are used are the one of Slicer which is missing the package `lsb_release` ...

[2017-09-07 10:41] fedorov commented on #28
Greg, let us know if this resolved your problems. Sorry for the delay addressing this issue.

[2017-09-07 10:41] #28 closed

[2017-09-09 16:18] jcfr commented on #16
I will integrate and finalize the fix when I am back from vacation on the week of sept 19th.

[2017-09-29 16:21] ihnorton commented on #16
An alternative fix would be to edit `lsb_release` first line on the factory system and add `-Es`. That's what is done to avoid this issue in newer lsb/ubuntu releases:

https://bugs.launchpad.net/ubuntu/+source/lsb/+bug/938869/comments/28

[2017-09-29 17:06] jcfr commented on #16
@ihnorton  Thanks for the suggestion, when all distributions we build one will have implemented the use of `-Es` , we will remove the use of the `lsb_release` wrapper from Slicer.

In the mean time, I am closing this issue as I confirm build of extension complete on the Linux factory.

[2017-09-29 17:06] #16 closed

[2017-09-29 21:58] jcfr commented on #23
Now #16 is fixed, I will address this next week.

[2017-10-24 14:14] fedorov opened #31 "Extension build fails on linux"
This is happening both for the nightly and 4.8 stable:

http://slicer.cdash.org/viewBuildError.php?buildid=1115624

[2017-11-13 15:14] JoostJM commented on #23
@jcfr, what is the status of this issue?

[2017-11-13 15:17] jcfr commented on #23
Thanks for the note. I will follow up later today or tomorrow.

On Nov 13, 2017 10:14 AM, "Joost van Griethuysen" <notifications@github.com>
wrote:

[2017-12-04 09:41] renjiliang commented on #23
I have installed radiomics extension，but the following bug was always appeared. How to resolve the problem?

 File "C:/Users/Administrator/AppData/Roaming/NA-MIC/Extensions-26309/SlicerRadiomics/lib/Slicer-4.7/qt-scripted-modules/SlicerRadiomics.py", line 535, in run
    enabledImageTypes)
  File "C:/Users/Administrator/AppData/Roaming/NA-MIC/Extensions-26309/SlicerRadiomics/lib/Slicer-4.7/qt-scri

[2017-12-04 09:47] renjiliang commented on #23
I did not find import "pykwalify.core" in file featureextractor

[2017-12-04 09:57] JoostJM commented on #23
@renjiliang, That's correct, `pykwalify.core` is currently disabled due to this issue. We are working on a fix. The error you received is unrelated and due to a typo bug in the SlicerRadiomics Code. I corrected this just now in 8c4ffc7. This change will be incorporated in tonights nightly build of slicer, so to fix it, reinstall the latest nightly of slicer tomorrow, or apply the fix yourself in t

[2017-12-07 06:04] #31 closed

[2017-12-07 14:30] jcfr commented on #31
I confirm the extension build and packaged successfully.

[2017-12-07 18:18] jcfr opened #35 "Should we add radiomics.io as a Slicer solution on slicer.org ?"
As suggested by @rkikinis , it could be listed on the top banner of https://www.slicer.org/

[2017-12-08 15:55] fedorov commented on #35
I could never quite understand what "solution" is, but it definitely would not hurt, so I don't mind!

[2017-12-08 15:57] fedorov commented on #23
It looks like now build is failing because a warning is interpreted as an error:

http://slicer.cdash.org/viewBuildError.php?buildid=1148769

[code]

[2017-12-08 16:41] jcfr commented on #35
That should help clarify: https://discourse.slicer.org/t/its-all-about-transitions-lets-talk-about-slicers-landing-page/113/35?u=jcfr

[2017-12-08 16:43] jcfr commented on #23
Yes.

I have been working on address this, it will be fixed later today.

[2017-12-08 18:47] fedorov commented on #35
@jcfr I know about the post you mentioned, but I don't think it answers the question.

But it is not important. As I said, I don't see how it could hurt, so I definitely don't mind.

[2017-12-09 19:10] jcfr commented on #23
Extension now available on all platform: http://slicer.cdash.org/index.php?project=Slicer4&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=Radiomics

After releasing Slicer 4.8.1, it will also be available with the stable release.

[2017-12-09 19:10] #23 closed

[2018-01-09 19:57] JoostJM commented on #25
Addressed by #26 and #36

[2018-01-25 18:56] jcfr opened #38 "Impove Slicer CLI"
- [x] Add progress reporting
- [x] Intercept logging messages?
- [ ] Make CLI module hidden for users?

Copied from  https://github.com/Radiomics/SlicerRadiomics/pull/37

[2018-01-31 16:08] JoostJM opened #40 "Different python interpreters"
In the Slicer built tree, the python interpreter is found by `#!/usr/bin/env python`, whereas in the installed tree this should be `#!/usr/bin/env python-real`

Moreover, `#!/usr/bin/env SlicerPython` does not work, as it tries to start `bin/python-real` which does not work, as the current working directory is already the `/bin` folder in that case.

[2018-02-01 16:46] #40 closed

[2018-02-01 16:47] JoostJM commented on #38
Progress reporting is still fairly basic now, it returns the logger output of PyRadiomics and shows some dots accumulating during the extraction.

[2018-02-02 09:27] JoostJM opened #41 "CDash test failed"
@jcfr, it appears the generic module test for slicer radiomics failed. It is complaining about a call to VC with python arguments.

[code]

http://slicer.cdash.org/testDetails.php?test=8615594&build=1191518

Moreove, the [unit-tests on windows](http://slicer.cdash.org/testSummary.php?project=1&name=py_SlicerRadiomics&date=2018-02-01) also appear to be failing, but I don't see any output. The Linux

[2018-02-02 09:41] JoostJM commented on #41
Update: I ran the unit test locally on my Linux build, no errors.

[2018-02-02 09:45] JoostJM commented on #25
Fixed by #36

[2018-02-02 09:45] #25 closed

[2018-02-02 13:13] JoostJM commented on #41
Update 2: The error in the generic module test appears to be due to the transition to Qt5/VTK9, I fixed this in 2cf2c9c.

[2018-02-07 10:27] jxjz opened #42 "can not find this extension in latest nightly build of slicer"
Hello,

i have installed the latest nightly build of 3D slicer (Version 4.5.0-1 r24735) and searched for this extension, but no results were found. A local build is the only way to use it in windows? thanks for the answer!

Best,
Lei

[2018-02-07 14:58] pieper commented on #42
Hi Lei -

The most recent builds are version 4.9.0 revision 26891 built 2018-02-07 (see http://download.slicer.org/).  You should be able to install SlicerRadiomics for either of those versions.

Just to let you know we have been making some changes related to #38 and #21 so things are currently a bit broken and may be unstable for the next few days.

-Steve

[2018-02-07 14:58] #42 closed

[2018-02-07 15:18] pieper opened #43 "Radiomics extension CLI fails on mac 4.8.1"
Tested Slicer 4.8.1 and it has an old version.  Once we are comfortable with the CLI we should update the version of SlicerRadiomics for the stable release.

Currently the mac nightly is not available due to the qt5 transition, so there's no version for mac at the moment.

[code]

[2018-02-07 15:19] pieper commented on #42
As a follow up I just tried the latest nightly on windows and the Radiomics module works as expected.  It's the mac version that's broken (#43).

[2018-02-07 22:57] pieper commented on #38
Making the CLI module hidden has been on the wish list before [1].  None of the solutions in that thread are very satisfactory (e.g. putting the CLI in an "Advanced" category).  Even the ugly workaround of removing it from the module menu doesn't work because it still shows up when searching for modules with Control-F.

Probably the best answer would be to add some hint in the xml file and extend

[2018-02-07 23:04] jcfr commented on #38
Generally speaking, I don't think CLI should dictate if there are visible or not for the user. This is application specific.

Instead, we could:
* add support for hiding CLI from the user (e.g not visible in the menu but still available through python)
* add a Slicer application settings allowing to configure which modules should be hidden from the user.
* agree on a mechanism enabling extension t

[2018-02-07 23:17] pieper commented on #38
That's a good point.

An application setting for which modules to hide could be good.

Another option might be to have a new directory, perhaps called cli-logic-modules or cli-hidden-modules, next to the cli-modules for any clis that the extension would like to have hidden.  Then we would just need to handle that case in the module discovery process.

[2018-02-08 00:23] fedorov commented on #38
IMHO and all things considered, I am not convinced focusing on how to hide a CLI is a high enough priority to justify the effort.

Hiding this one CLI will not make Slicer automagically less confusing, and there is nothing illegitimate in having the "raw" CLI interface. As long as the users know that Radiomics is the main gateway for the analysis, it should be ok. If they start wondering around in

[2018-02-08 00:29] jcfr commented on #38
Makes sense

That would work, but the name of directory currently doesn't enforce any behavior. I am not sure this is the right level of abstraction.

[2018-02-08 09:27] JoostJM commented on #41
@Radiomics/developers
Some updates on the testing [cdash](http://slicer.cdash.org/index.php?project=Slicer4&date=2018-02-07&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=radiomics):
- Building with the CLI works for all platforms in slicer 4.8, still fails for Mac in nightly build (with Qt5)
- All tests are passing on Linux and Mac (with the exception of the nightly build on Mac

[2018-02-08 09:31] JoostJM commented on #38
I agree, the CLI is works fine in a stand-alone mode too

[2018-02-08 09:33] JoostJM commented on #43
Related to #41.

With the exception of the build error on Mac, the extensions seems to be working very nicely. The windows test fails, but this is due to the fact that it can't find the CLI. If you test manually on windows the test passes normally.

[2018-02-19 17:05] JoostJM commented on #43
Some interesting points concerning this issue are raised in [this topic](https://discourse.slicer.org/t/tutorial-for-using-pyradiomics-no-module-named-collections/2111) on slicer discourse. Apparently due to Apple SIP policy, slicer `DYLD_LIBRARY_PATH` is not exported, meaning that the SlicerRadiomicsCLI script is unable to find the correct python libraries.

[2018-02-19 17:08] ihnorton commented on #43
A simple, only-slightly-hacky solution would be to set a var like `__MY_DYLD_LIBRARY_PATH` to contain the same paths as `DYLD_LIBRARY_PATH` in the calling environment. Then check for that in the wrapper script, and if it exists, set the real var in the subshell.

[2018-02-19 17:10] JoostJM commented on #43
@ihnorton Thanks for tracking this down! We'll look into fixing this, hopefully implementing some not-really hacking solution soon, but going for a slightly more hacky solution if needed.

[2018-02-20 05:25] jcfr commented on #43
Few approaches:

(1) You could improve the [launcher](https://github.com/commontk/AppLauncher#ctkapplauncher) so that it also set variables like `APPLAUNCHER_DYLD_LIBRARY_PATH`, `APPLAUNCHER_LD_LIBRARY_PATH` and `APPLAUNCHER_PATH`.  Once the fix implemented, we could easily release new launcher binaries by tagging a new version.

(2) Otherwise, an easier approach could be to simply use the AppLaun

[2018-02-20 14:45] ihnorton commented on #43
Note that the SIP restriction only applies to system-provided binaries (/bin/sh, /usr/bin/python, etc.). That's why the executable C++ based CLIs work fine. So, clean and simple solution would be to make RadiomicsCLI a "real" CLI in C++, but one which just does the same thing as the current script (find `python-real`, launch it with pass-through arguments).

Unfortunately process control is hard t

[2018-02-20 20:12] ihnorton commented on #43
I had another idea for a potential solution which could avoid adding any environment variables, and avoid additional layers of cmake/launchers (plus would allow removing the .bat and .sh wrapper scripts).

https://github.com/Slicer/Slicer/pull/894

[2018-03-07 15:27] #38 closed

[2018-07-13 18:18] durgeshkdwivedi opened #47 "How to use SLicerRadiomics"
Hello,
I'm a beginner at pyRadiomics. I've installed radiomics module in the slicer.
The steps I used for the feature extraction:

Imported the 2D Dicom image (one slice) for the test.
Drew an ROI on the tumor (label)
Open the module Radiomics in the slicer.
Select All features, apply
Export as a table. 118 features were extracted.

Am I doing it correctly? If the above method is wrong, can anyone

[2018-07-13 19:11] pieper commented on #47
Yes, that sounds correct - see the PyRadiomics documentation for more info on the config settings:

https://pyradiomics.readthedocs.io/en/latest/index.html

Yes, just do File->Save and pick the table or you can copy-paste from the table in Slicer.

[2018-07-13 19:11] #47 closed

[2018-10-31 20:42] jcnils opened #50 "I couldn't find the Radiomics in the 3D Slicer extensions manager"
I don't know if I did something wrong, or if there any dependency missing. But I couldn't find the Radiomics in the 3D Slicer extensions manager.

I tried the search mode in All, and looking for it into the Informatics category.

I am using windows 10, and tried using stable(4.10) and nightly (4.11)

[2018-11-01 00:54] pieper commented on #50
There are some unresolved build issues currently on windows, but it is available for linux and mac, in case that helps.

http://slicer.cdash.org/viewBuildError.php?buildid=1417242

[2018-11-01 16:29] jcnils commented on #50
Thank you @pieper, linux might help for now.
I will boot linux while keeping an eye for updates, the lab where the researchers use 3D Slicer is windows only :(

[2018-11-01 18:00] pieper commented on #50
@fedorov @JoostJM @jcfr Any ideas about why SlicerRadiomics build is failing on windows?

[2018-11-01 18:37] fedorov commented on #35
Sorry for not following up, my fault. Quoted from https://www.slicer.org/wiki/Slicerverse:

Short description: Radiomic data has the potential to uncover disease characteristics that fail to be appreciated by the naked eye. The central hypothesis of radiomics is that distinctive imaging algorithms quantify the state of diseases, and thereby provide valuable information for personalized medicine. R

[2018-11-01 18:38] fedorov commented on #50
@jcnils I am reopening this, since the underlying issue has not been resolved.

[2018-11-05 09:12] JoostJM commented on #50
@pieper, I just took a quick look at it, and it appears to be that it is [unable to build PyWavelets](http://slicer.cdash.org/buildSummary.php?buildid=1421352) (_dwt.pyd is part of PyWavelets). I will investigate, but I think we may be able to fix this by using a specific PyWavelets version.

[2018-11-05 12:53] pieper commented on #50
Thanks for investigating @JoostJM - I hope using a specific version of PyWavelets solves the problem.

[2018-11-05 19:31] fedorov commented on #50
Right, the question remains why pywavelets stopped building. In any case, using a fixed version of pywavelets makes a lot of sense.

[2018-11-05 20:29] lassoan commented on #50
Slicer uses numpy 1.13.1, while [pywavelet needs numpy >1.9.1](https://github.com/PyWavelets/pywt/blob/master/setup.py#L418), so maybe it is not related to numpy.

[2018-11-09 12:16] kevin-why commented on #50
I couldn't find the Radiomics in the 3D Slicer extensions manager either，（ in windows），is there another way to package the extension and install the extension from file？ or the bug has been fixed ？

[2018-11-09 18:55] lassoan commented on #50
The issue is still open, which means it has not been resolved yet.

@pieper @fedorov Would it be possible to disable wavelet-based features until this gets resolved?

An option to solve this would be to use wavelets available in VTK or ITK instead (there is at least a IsotropicWavelets remote module in ITK).

[2018-11-09 18:58] fedorov commented on #50
@JoostJM is the lead on this project, we should discuss with him. I agree it makes sense to disable wavelets until this is resolved.

@lassoan can you reproduce this issue with a local build? I don't even have a Slicer build set up on Windows that I can access to investigate this.

[2018-11-09 19:04] lassoan commented on #50
Yes, I can reproduce it. It is very hard to debug this, as it uses python scripts to create temporary build files that immediately disappear after the build is finished. I don't even know where can I find the Python file that I could change to prevent deleting of the build files so that I can investigate further.

Since pywavelets only supports 2D wavelets anyway, I'm not sure if it is worth the t

[2018-11-10 13:28] pieper commented on #50
+1 for disabling wavelets, at least on Windows, until this can be nailed down.  There are lots of other features people would want to calculated and we've heard from a lot of users looking for this extension on windows.

[2018-11-12 09:56] JoostJM commented on #50
I'll disable wavelets for now.

@lassoan, In PyRadiomics, we apply 3D wavelets by applying filters sequentially in row-column-slice.

Still, I'm really interested in the ITK/VTK implementation, it certainly warrants investigation into if this is easily implementable in PyRadiomics.

[2018-11-12 10:52] JoostJM commented on #50
Short update, I now forced PyWavelet version to 1.0.0, which was released on august 31st, this year. Hopefully this fixes the build.

Looking at the release notes, it may be possible that this will fail as well, as complex number support was added in version 1.0.0. If it fails, I'll revert to the version before that (0.5.2).

[2018-11-13 14:55] fedorov commented on #50
It is now failing on all platforms, but it looks like a completely different issue:
http://slicer.cdash.org/index.php?project=SlicerPreview&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=radiomics

![image](https://user-images.githubusercontent.com/313942/48421301-334b0f80-e72a-11e8-9d08-7dfd63937496.png)

I will join the Slicer hangout today with the hope to get attention of the

[2018-11-13 15:01] jcfr commented on #50
Hi,

I am out at a conference today and we will have a look later.

It seems the extensions server is getting overloaded and it will be time to
plan for transitioning away to the new Girder based system.

Note that the backend is ready and we still need to finalize the frontend.

Thanks
Jc

On Tue, Nov 13, 2018, 9:55 AM Andrey Fedorov <notifications@github.com
wrote:

[2018-11-13 15:04] fedorov commented on #50
Thanks JC, this would be great.

Do you have any ideas about the earlier failure as discussed in this issue and in https://discourse.slicer.org/t/radiomics-extension-build-errors-on-windows/4616?

Based on the current errors, do you know if the earlier issue was resolved, or the failure we observe now is happening earlier in the build process?

[2018-11-13 15:13] jcfr commented on #50
The build completed on linux, macOS and Windows. This is confirmed by the dashboard (it only reports a failure to upload and no build error) and also by running the build on the build machine:

For example, here is the output running the windows build locally:

![image](https://user-images.githubusercontent.com/219043/48422308-642c4400-e72c-11e8-9f2b-1ee091438520.png)

To clarify, our monitoring c

[2018-11-14 15:34] fedorov commented on #50
@jcnils  @kevin-why the extension should now be available on all platforms: http://slicer.cdash.org/index.php?project=SlicerPreview&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=radiomics

[2018-11-14 15:34] #50 closed

[2018-11-16 15:47] #41 closed

[2018-11-29 21:33] edwinlee2006 opened #51 "Not working in Slicer 4.10 stable release nor 4.11 nightly build with Windows 7."
tried SlicerRadiomics in 3D slicer. Successfully installed. But keep getting the following message. Try it in both 4.10 stable release and 4.11 nightly build. Also tried pip to install pywavelets. The python console shows it has been installed.

==================================================================

_Requirement already satisfied: pywavelets in c:\users\usersname\appdata\roaming\na-mi

[2018-11-30 13:21] pieper commented on #51
Looks like this is a return of #50 or at least related.

[2018-11-30 14:38] fedorov commented on #51
@edwinlee2006 what version of Windows do you have? do you have all updates installed?

Slicer dashboard does not show the log (http://slicer.cdash.org/viewTest.php?onlyfailed&buildid=1448928), and I won't have an opportunity to test on Windows until next week.

[2018-11-30 16:12] edwinlee2006 commented on #51
It is Windows 7 Pro. I uninstalled older version of the 3D slicer, and then downloaded and installed the 4.10 stable release and 4.11 nightly build two days ago. After that, I followed the SlicerRadiomics' instruction and installed the Radiomics with the extension management tool in the 3D Slicer. The error messages were the same in both 4.10 stable and 4.11 nightly build. I then checked the PyWav

[2018-12-03 11:08] JoostJM commented on #51
Hi @edwinlee2006,

I ran into this error too. I've been investigating it and I think I found the error. Recently I fixed the version for PyWavelets toi <= 1.0.0, because version 1.0.1 does not seem to compile on Slicer Build factory. I changed this in the PyRadiomics requirements.txt (correct) and in the cmake build file, where it is specified as the argument for `--no-binary` (bug!).

This last c

[2018-12-10 06:54] edwinlee2006 commented on #51
Now it works with both the stable release and nightly build. Thanks!

[2018-12-11 09:11] #51 closed

[2019-01-25 15:29] giordanosavelli opened #52 "Slicer Radiomics"
Dear sirs I would like to know if Slicer radiomics works on windows 7 64 bit. thanks. Giordano

[2019-01-25 15:31] pieper commented on #52
Yes, you can get is through the slicer extension manager.  Start by getting Slicer, then follow the SlicerRadiomics instructions.

https://download.slicer.org/

[2019-01-25 15:31] #52 closed

[2019-03-21 13:22] nsasanka opened #53 "Batch Processing"
I have 2 questions
1. Is there a command line way to extract radiomics of one specific structure using an RT-Struct file with many contours.

2. Also is it possible to do this as a batch process for many patients using command line

Thanks

[2019-03-21 13:41] fedorov commented on #53
No, you will need first to convert your RT-struct file into label volumes. We recommend [plastimatch](http://plastimatch.org/) for this purpose. If your RT-struct files follow the same convention for labeling individual structures, it should be relatively easy to script running plastimatch and pyradiomics in sequence for batch processing.

[2019-03-21 17:08] ajclement opened #54 "voxel based feature extraction"
I am trying to create a volume with the voxel based Radiomic features? Does anyone know what I may be doing incorrectly.. (see yaml input parameters below).

imageType:
  Original: {}

featureClass:
  ngtdm:

voxelSetting:
  kernelRadius: 3
  maskedKernel: True
  initValue: nan

I am thinking that it may be that pyradiomics had a bug..
https://github.com/Radiomics/pyradiomics/issues/456

Thanks,
A

[2019-03-22 09:27] JoostJM commented on #54
@ajclement, that bug has since been fixed in the current master.
However, the integration of the voxel-based command line in PyRadiomics is quite new, and we have not yet been able to update the slicer extension to also allow voxel-based extraction.

If you want to extract a voxel-based map, please try using the stand-alone version of PyRadiomics. You can find the details on using PyRadiomics comm

[2019-05-16 21:15] warkentinmatt opened #55 "SlicerRadiomics extension not available for Slicer 4.11.0 on Mac OS"
Any idea why the SlicerRadiomics extension isn't available for installation in the Extensions Manager on Slicer for the current nightly build version?

Previously I was using an older build; decided to upgrade to the nightly build of Slicer 4.11.0 and the extension is not available any longer.

I am on a Macbook Pro with Mojave 10.14.4.

Thanks for your help.

[2019-05-17 02:09] fedorov commented on #55
Slicer is transitioning to python 3, and I am not sure all issues have been sorted out.

The actual build error is here: http://slicer.cdash.org/viewBuildError.php?buildid=1591412

cc: @jcfr

![image](https://user-images.githubusercontent.com/313942/57898494-519fde00-7827-11e9-83c4-01e546b5212c.png)

[2019-05-17 02:45] warkentinmatt commented on #55
@fedorov Thanks for the reply. What sort of timeline might one expect for this to be resolved? Days? Weeks? Months?

I have noticed several other extensions are no longer available in Slicer 4.11.0 (e.g. SlicerCIP). Do extensions ever get archived or are they likely be suffering the same fate (i.e. python build errors)?

I've only done some cursory looking into this, but is there an easy way to te

[2019-05-17 02:51] fedorov commented on #55
@warkentinmatt I do not have the answers to your questions, although all of them are very reasonable. Your best bet is to find the latest version of Slicer 4.11 and extensions before they were broken by python 3, but I do not know how to do that efficiently. I recommend you post your questions and concerns to the Slicer forum: https://discourse.slicer.org/latest.

I am assuming 4.10 is not an opti

[2019-05-17 03:03] warkentinmatt commented on #55
@fedorov Thanks. I have now created an account for the Slicer forum. I've read my fair share of threads, it's about time I join, anyway.

I am not opposed to using Slicer 4.10. Up until today I was still using 4.8.1; I figured it was time to upgrade so I went right to the nightly build version. In hindsight, perhaps it was a bad idea to skip over the stable release. But I think it would be perfect

[2019-05-17 03:05] jcfr commented on #55
This is seems quite easy to address. If I haven't followed up, ping me
again in few days.

On Thu, May 16, 2019, 10:51 PM Andrey Fedorov <notifications@github.com>
wrote:

[2019-05-17 08:07] JoostJM commented on #55
Hi all,

I ran into issues like this before. The current one is located in the PyRadiomics setup.py script, where it is reading the README.md file as the long_description (used for PyPi distribution).

However, the reading just uses default encoding and in some cases this is apparently `ascii`, which fails on a special hyphen located in the readme file. I've updated PyRadiomics to explicitly decod

[2019-05-17 08:11] JoostJM commented on #55
This commit contains the fix: Radiomics/pyradiomics@fab347b

[2019-05-17 14:07] warkentinmatt commented on #55
@JoostJM Thanks for the update. I assume it will still take some time before this change leads to the SlicerRadiomics extension becoming available again?

[2019-05-17 16:01] JoostJM commented on #55
@warkentinmatt Yes, it will be incorporated in the next nightly build (so tomorrow it should be available I think)

[2019-05-17 18:24] #55 closed

[2019-05-28 02:59] emanradiology commented on #50
if I install an older version of 3D slicer, will radiomics extension work?

[2019-05-28 09:20] JoostJM commented on #50
@emanradiology, depends on the version. If it is available in the extensions manager there is a high chance it will work. Beware however that this may use an older version of PyRadiomics (for differences between versions, see the [release notes](https://pyradiomics.readthedocs.io/en/latest/changes.html))

What version of Slicer are you planning to use?

[2019-05-28 09:22] JoostJM commented on #50
To check the version of PyRadiomics installed, type the following in the python interactor in slicer:
[code]

[2019-06-02 03:13] chengjianhong opened #56 "Feature calculation failed on windows"
Hi, I install the slicerRadiomics on 3D Slicer by extensions manager. But it occurs the following errors when I use it to extract the brain tumor features.

[2019-06-03 08:13] JoostJM commented on #56
Hi, this is a duplicate issue, which is addressed in [the PyRadiomics forum](https://groups.google.com/d/msg/pyradiomics/YH_HlZYxI48/9mwQYBQ_AwAJ).

Short answer: due to 3D Slicer's transition to Python 3. The bug has already been fixed (36e0965), but requires you to install a newer nightly build.

[2019-06-21 19:29] jamesobutler commented on #56
I believe https://github.com/Radiomics/SlicerRadiomics/commit/5fedf5b724f5303b920936266f8d18de922e0d28 has fixed this issue so this can be closed.

[2019-08-01 11:14] ghost opened #59 "Resampling and LoG filtering fail when done at the same time."
When I try to extract features using resampling and LoG filtering, I cannot get values for the filtered images. However, when I try to use only LoG filtering, there is no problem.

[2019-09-19 09:46] JoostJM commented on #59
@drburakkocak My apologies for the late reply. Which version of slicer are you using? can you share the slicer log detailing this error (help > report a bug)?

[2019-12-24 11:57] timeanddoctor commented on #53
Was the code of pyradiomic installed after activation of this extension?  Then, can I run the code of pyradiomic by 'import radiomic' just as a script in slicer directly (e.g.https://www.slicer.org/wiki/Documentation/Nightly/ScriptRepository)?

[2019-12-24 13:40] JoostJM commented on #53
Yes, installation of the radiomics package is part of the installation and is therefore available in the slicer environment if you install the extension

[2019-12-25 04:02] timeanddoctor commented on #53
Thanks, Professor JoostJM.
I installed SlicerCaseIterator and still have some problems. The .csv table should be created including the dir of all volume and segment before loading? Can I save/write a loaded volume and mask segmentation in slicer by this module? I tried to do that but nothing happen after clicking the batch buttom.

[2020-05-02 15:42] apjohndim opened #61 "How to create Mask file of segmentation?"
Hello! I am new to Radiomics and Segmentation. I have some dicom images depicting lung tissues. How can I manually segment the tissues and save a mask file for each dicom, in the supported format nrrd? I tried several tools but it all seems very confusing! Anyone?

[2020-09-16 02:16] ctwangtz commented on #61
there is nobody to answer you and I find this GUI is totally abandoned.

[2020-09-16 02:22] fedorov commented on #61
@apjohndim you can use Slicer (https://slicer.org) to do manual segmentation, there are numerous tools, tutorials and a very active user community. Have you tried Slicer, and specifically Segment Editor module for this task?

@ctwangtz what makes you think this way?

[2020-09-16 08:29] #56 closed

[2020-09-16 08:29] #54 closed

[2020-09-16 08:31] JoostJM commented on #53
@timeanddoctor, both volumes and segmentations loaded in slicer can be saved using the "save data" button. The default format (respectively ".nrrd" and ".seg.nrrd") are both supported in PyRadiomics.

[2020-09-16 08:32] JoostJM commented on #59
Stale issue.

[2020-09-16 08:32] #59 closed

[2020-09-16 08:38] JoostJM commented on #21
Regelar segment-based extraction has sufficient speed that progress reporting is not necessary.

Currently, SlicerRadiomics is used via a CLI interface, allowing multithreaded use, increasing responsivity during long-running processes. For this, a form of status updates is provided as ["." printed on the same line](https://github.com/Radiomics/SlicerRadiomics/blob/master/SlicerRadiomics/SlicerRadi

[2020-09-16 08:38] #21 closed

[2020-09-16 08:39] JoostJM commented on #14
@fedorov Is there addiditional documentation needed? Otherwise we may close this issue.

[2020-09-16 08:40] JoostJM commented on #12
This is easily done using the default interface of Slicer, especially when using the segmentations module.

[2020-09-16 08:40] #12 closed

[2020-09-16 08:42] JoostJM commented on #35
This is already quite an old issue. @fedorov, is there still interest in adding radiomics.io on the slicer.org banner?

[2020-09-16 13:43] fedorov commented on #35
@JoostJM in the thread above, we provided all the details as needed for radiomics.io to be included. @jcfr do you need anything else?

[2020-09-16 13:44] fedorov commented on #14
I agree.

[2020-09-16 13:44] #14 closed

[2020-09-16 13:48] jcfr commented on #35
It is a matter of submitting 2 PRs:

(1) One against the current website:
https://github.com/Slicer/slicer.org/tree/slicer-org

(2) And one against the new design:
https://github.com/Slicer/slicer.org/tree/landing-page-redesign

See https://github.com/Slicer/slicer.org/blob/landing-page-redesign/_data/solutions.yml

Thanks
J-Christophe

[2020-09-17 02:00] fedorov commented on #35
Ok, I will make those PRs

[2020-09-17 02:29] fedorov commented on #35
https://github.com/Slicer/slicer.org/pull/67
https://github.com/Slicer/slicer.org/pull/68

[2020-10-26 19:01] iboeth opened #62 "Radiomics does not work in latest stable release of Slicer"
Excuse my question, but I really do not know what to do.

As you mentioned on GitHub-Website, Radiomics should be installed on 3D-Slicer Version 4.13 (unstable).
I followed your description, but it is not possible installing any extension.
Additionally, DICOM-Data cannot be downloaded in 3D-Slicer, because "unfortunately, this request module is not available in this Slicer session".
Because of tha

[2020-10-26 19:02] fedorov commented on #62
Sorry, the instructions are lagging behind the changing situation ... Can you try with the stable version?

[2020-10-26 19:06] fedorov commented on #62
I've just tested latest stable on mac, and it is broken. Let me look into this.

![image](https://user-images.githubusercontent.com/313942/97216862-cf964180-179c-11eb-8f51-65ec550b2ea6.png)

[2020-10-26 19:07] iboeth commented on #62
The stable version does not allow me extracting my "Segmentations", painted in the tumors.

[2020-10-26 19:09] iboeth commented on #62
Thanks for your feedback. I would be happy if you would find the mistake!

[2020-10-26 19:15] fedorov commented on #62
I don't know why this is happening, but some dependency packages are not available. Can you try opening python console

![image](https://user-images.githubusercontent.com/313942/97217600-ed17db00-179d-11eb-90cd-68ee026b2669.png)

and then running the following commands in the console:
[code]

and then try to use the module again after restarting Slicer (stable version)?

[2020-10-26 19:20] iboeth commented on #62
![EDAD7877-E1D2-4D08-8E9D-89DF18D3D4BC](https://user-images.githubusercontent.com/73494986/97218119-89ef6e00-17c8-11eb-9eac-c5c84286e598.jpeg)
When I opened python console, this appears and I cannot follow your instructions...

[2020-10-26 19:21] fedorov commented on #62
yes - can paste these two lines, one at a time, into that window, and hit "Enter"?

[code]

[2020-10-26 19:26] iboeth commented on #62
Okay, so I did.

[2020-10-26 19:26] fedorov commented on #62
Can you now restart Slicer, and see if the module works for you, or let me know what does not work?

[2020-10-26 19:28] iboeth commented on #62
![A260D3DE-9A58-4F53-9995-E19D7108AA92](https://user-images.githubusercontent.com/73494986/97219029-be175e80-17c9-11eb-9cf4-1860a65784b7.jpeg)
I restarted and this happened... I´m so sorry for the circumstances...

[2020-10-26 19:29] fedorov commented on #62
what messages do you see after you enter `slicer.util.pip_install('pywavelets')` and hit "Enter" in the python console?

[2020-10-26 19:31] iboeth commented on #62
![Uploading B07B55E2-C4E5-45D7-BDDE-C0A8039DE0D4.jpeg…]()

[2020-10-26 19:48] fedorov commented on #62
@iboeth something went wrong in your upload in the previous post.

[2020-10-26 19:51] iboeth commented on #62
![B07B55E2-C4E5-45D7-BDDE-C0A8039DE0D4](https://user-images.githubusercontent.com/73494986/97221367-10a64a00-17cd-11eb-982c-51ba3971b35d.jpeg)

Next try.

[2020-10-27 16:14] iboeth commented on #62
I recently starteted 3D-Slicer again and this appeared. Perhaps it helps...
![F6207460-0144-439B-B275-A51C88C9C42E](https://user-images.githubusercontent.com/73494986/97329872-d2199980-1877-11eb-898e-e2b16820531d.jpeg)

[2020-10-28 18:19] iamhyw opened #63 "Install SlicerRadiomics From 3D Slicer on MAC 10.15.5"
Hi! I want to use the SlicerRadiomics From 3D Slicer but i can't find the version of MAC.I have tried the methods with source code but failed.Can you provide a install-archive for me？ So I can install from file.THANKS!!!

[2020-10-28 18:48] fedorov commented on #63
No, there is no install-archive we can provide. Please monitor this thread for updates on the issue: https://discourse.slicer.org/t/slicer-radiomics-error/14279/4.

[2020-10-28 19:48] jcfr commented on #63
macOS extension for the latest stable Slicer release (4.11.20200930) has been re-uploaded.
Please try to uninstall and re-install the extension.

[2020-10-29 00:30] iamhyw commented on #63
@jcfr OH! THANKS BRO !!!!!!

[2020-10-29 00:30] #63 closed

[2020-10-30 08:31] LiDelight commented on #62
Can I use an old version to avoid this bug?

[2020-10-30 08:44] iboeth commented on #62
In my opinion, the "oldest" version is 4.11.
I restarted this version of 3D-Slicer the last days, but it did not work...

[2020-10-30 08:45] LiDelight commented on #62
Try to use python?

[2020-10-30 08:52] iboeth commented on #62
Oh! There is no bug today! Thanks!!
But there is still a problem with "extensions", as you see below...

![A99948CF-05FC-4F8C-898B-CBABBE3599EE](https://user-images.githubusercontent.com/73494986/97679414-83494b00-1a95-11eb-81f4-68ed782c73a5.jpeg)

[2020-10-30 11:48] LiDelight commented on #62
can it work now?

[2020-10-30 12:18] iboeth commented on #62
No, it ist still the same.
I searched for "Radiomics" and the following happened:

![6AE8150F-6EEC-4F0F-AF84-925AFF961080](https://user-images.githubusercontent.com/73494986/97704277-62432300-1ab2-11eb-9c64-2ae327d38a02.jpeg)

[2020-11-03 07:55] LiDelight commented on #62
Now, can it work?And Is there a solution for the problem?

[2020-11-03 08:51] iboeth commented on #62
![9B0D2FA1-9709-464C-9122-2EF6C5FC1B72](https://user-images.githubusercontent.com/73494986/97964835-b0f60300-1db9-11eb-9dc5-8061080b42e6.jpeg)
![5FC4CDE4-688B-45BA-943F-D5431ABFBA20](https://user-images.githubusercontent.com/73494986/97964838-b2273000-1db9-11eb-9c00-e01de4c52fcd.jpeg)
This is the current status. The extention "Radiomics" is also still mapped differently than on the Windows system,

[2020-11-03 14:23] fedorov commented on #62
@LiDelight can you open the python interactor, and run the following two commands there? The issue is in the missing dependency packages, and when I did what I am suggesting here on mac, this resolved the problem for me.
[code]

[2020-11-03 16:26] LiDelight commented on #62
<img width="826" alt="WeChat6d605c15659b243662ff07d878d22707" src="https://user-images.githubusercontent.com/34203375/98012494-20a8d400-1e34-11eb-85e0-685ed9c9908f.png">
()
I think the code is usefull for me.
slicer.util.pip_install('pywavelets')
slicer.util.pip_install('python-dateutil')
and it has run successfully to install, but!!! then I restart the slicer, there is a so long bug information,

[2020-11-03 17:47] iboeth commented on #62
@fedorov: The Link is usefull for me, too! It seems that my problems are solved!! Thank you so much!!

[2020-11-04 06:45] LiDelight commented on #62
OMG, it work, now. I install the stable version of 3D slicer. 淦!

[2020-11-07 18:11] iboeth commented on #62
It is me again...
Using the ruler shows no measure of my ROI. What am I doing wrong?
![F9BA3F25-CD6C-49A7-B824-2F9303AC35B7](https://user-images.githubusercontent.com/73494986/98448542-066d3f80-212d-11eb-95c5-7e65ce8650e6.jpeg)

[2020-11-07 20:57] fedorov commented on #62
Please use Slicer forum for questions about Slicer https://discourse.slicer.org.

[2020-11-07 20:59] iboeth commented on #62
Thank you!!

[2020-11-10 11:14] Mahiph opened #64 "No module named radiomics"
Hello,
When I use Jupyter lab to run helloRadiomics.py, I am getting the following error. The samething happens when I open python helloRadiomics.py in Gitbash. How can I resolve this?
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-5825793aa09f> in <module>
      7 import SimpleITK as sitk
      8
----> 9 import radiomics
     10 from radiomics import

[2020-11-10 19:47] fedorov commented on #62
Yesterday I added a fix to check for missing modules and install if they are not present. Please check the latest stable build and let us know if the issue is not resolved.

[2020-11-10 19:47] #62 closed

[2021-03-09 14:59] jamesobutler opened #65 "Unable to install SlicerRadiomics on Windows from ExtensionsManager"
The SlicerRadiomics package for Windows has been unavailable due to a build error that has been present since January 20th, 2021. This means SlicerRadiomics is unavailable on the latest stable Slicer release which is Slicer 4.11.20210226 and also unavailable in the latest preview.

![image](https://user-images.githubusercontent.com/15837524/110489652-8bf20380-80bd-11eb-983a-958eec6b4458.png)

Firs

[2021-03-17 02:54] #65 closed

[2021-09-28 20:22] fedorov opened #67 "Cannot use the module with input mask defined by a segmentation node"
This user report below summarizes the issue, which is reproducible with the latest nightly and stable releases of Slicer. It appears that the generator succeeds in creating a label node representation in https://github.com/AIM-Harvard/SlicerRadiomics/blob/master/SlicerRadiomics/SlicerRadiomics.py#L544-L550, and also if the segmentation is exported into a labelmap node, then feature extraction work

[2022-04-13 22:36] jcfr opened #70 "Fix extension build"

[2022-04-13 22:37] jcfr commented on #70
I plan on addressing this

[2022-04-13 22:39] jcfr opened #71 "Grant maintainer access to slicer core developers"
To streamline maintenance, it would be great to create a team called `slicer` with at least `maintain` access and add @lassoan , @pieper and @jcfr

Cc: @JoostJM @fedorov

[2022-04-14 13:26] fedorov commented on #71
@hugoaerts let me know if you are ok with this, and if so I can set up the team.

[2022-04-15 19:59] jcfr commented on #35
Closing. SlicerRadiomics is now listed on the Slicer website.

See https://github.com/Slicer/slicer.org/blob/d0552ecf538619db502b1953f390602f031802fa/_data/solutions.yml#L41-L44

[2022-04-15 19:59] #35 closed

[2022-04-29 08:44] jcfr commented on #70
This was addressed in https://github.com/Slicer/SlicerJupyter/pull/71

[2022-07-22 13:51] fedorov commented on #71
@jcfr sorry this fell through the cracks. This should be all set now. Thank you for your support.

[2022-07-22 13:51] #71 closed

[2022-07-22 13:52] fedorov opened #74 "Add support for additional image transformations in pyradiomics"
See user request in https://discourse.slicer.org/t/why-is-slicerradiomics-only-partly-functional/24449

[2022-07-22 13:53] fedorov opened #75 "Add support for BATCH mode"
From https://discourse.slicer.org/t/why-is-slicerradiomics-only-partly-functional/24449